/*18122022*/

.container {
    position: relative;
    display: flex;
    width: 100% auto;
    min-height: 710px;
    max-height: 710px;
    margin: 20px 25px 25px 25px;
    justify-content: center;
    background: linear-gradient(113deg, rgba(253, 255, 255, 1) 30%, rgba(225, 250, 245, 1) 50%, rgba(4, 229, 165, 0.979) 100%);

    border-radius: 5px;
}

.info-container {
    width: 75%;
    text-align: center;
    padding: 20px 22px 0 22px !important;
    box-sizing: border-box;

}

.container .image-container {
    display: flex;
    width: 25%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
}

.info-container header {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 2px;
    padding: 5px;
    word-spacing: 15px;
    background-color: black;
    margin: 0 50px 0 50px;
}

form textarea:focus-visible,
form input:focus-visible {
    outline: none;
}

/* ESTATURA SELECT */
.medidaEstatura select {
    width: 35px !important;
    font-size: 8px;
    border-left: 0 !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.info-container .form-principalDT {
    min-height: auto;
    overflow: hidden;
}

.form-principalDT form {
    display: flex;
    width: 600%;
}

.form-principalDT form .pagina {
    position: relative;
    width: 16.67%;
    transition: margin-left 0.2s ease-in-out;
}

.form-principalDT form .pagina .gridpagina {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.form-principalDT form .pagina .grid3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.form-principalDT form .pagina .grid3 .bloc3 {
    grid-column: 1 / 4;
}

.form-principalDT form .pagina .gridpagina .bloc3 {
    position: relative;
    grid-column: 1 / 3;

}

.form-principalDT form .pagina .titulo {
    text-align: left;
    font-size: 17px;
    /* font-weight: 600; */
    margin: 12px 0;

}

.form-principalDT form .pagina .campo {
    position: relative;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    height: 38px;
    margin: 18px 10px;
}


.form-principalDT form .pagina .campo .label {
    position: absolute;
    top: -22px;
    padding-left: 8px;
    /* font-weight: 500; */
    font-size: 13px;
    font-style: italic;
    text-align: justify;
    float: left;
    display: block;
    text-align: left;
    width: 100%;
}

.error {
    position: absolute;
    top: 60px;
    font-size: 10px;
    color: var(--error-color);
    font-style: italic;
    display: block;
}

.form-principalDT form .pagina .campo input {
    position: relative;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

.form-principalDT form .pagina .campo .input-icon {
    position: relative;
    width: 15px;

    font-size: 13px;
    padding: 0 8px 0 8px;
    background: var(--icon-color);
    color: var(--panel-color);
    border: 1px solid var(--icon-color);
    border-right: 0;
    line-height: 35px;
    border-radius: 7px 0 0 7px;
}

.invalid-background-ico {
    display: block;
    background-color: var(--error-color) !important;
    border-color: var(--error-color) !important;
    box-shadow: 0 3px 2px 0 rgb(129, 1, 1);
}

.form-principalDT form .pagina .campo input:hover {
    border-color: var(--icon-color);

}

.form-principalDT form .pagina .campo select {
    position: relative;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;

    border-radius: 5px;
    border: 1px solid gray;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;


}

.medida-border-error {
    border-color: var(--error-color) !important;
}

.medida-border-accept {
    border-color: var(-accept-color) !important;
}


.form-principalDT form .pagina .campo-pregunta button,
.form-principalDT form .pagina .campo button {
    width: 100%;
    height: 45px;
    background: linear-gradient(90deg, #77fdbf 0%, #06ff8b 46%, #a4ffd5 100%);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    border-bottom: 4px solid #02b662;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 17px;
    text-align: left;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    margin: 10px 0 10px 0;
    color: white;
}

.form-principalDT form .pagina .campo-pregunta button::after,
.form-principalDT form .pagina .campo button::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 25px solid #02b662;
    border-bottom: 20px solid #02b662;
    border-left: 30px solid transparent;
    border-right: 40px solid #02b662;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

.form-principalDT form .pagina .campo-pregunta button,
.form-principalDT form .pagina .campo button:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}

/* Progressbar */
.progressbar {
    width: 100%;
    display: flex;
    list-style: none;
    margin-bottom: 18px;
    counter-reset: step;
    align-content: center;
}

.progressbar__option {
    position: relative;
    width: 100%;
    font-size: 12px;
    margin: 2px;
    align-content: center;
}

.progressbar .progressbar__option p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 4px;
    transition: 0.2s;
    bottom: 15px;
}

.progressbar__option:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    padding: 2.5px;
    margin: 0 auto 5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 18px;
    z-index: 2;
    color: var(--panel-color);
}

.progressbar__option:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 30px;
    left: -50%;
    z-index: 1;
}

.progressbar .progressbar__option .check {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 100%;
    font-weight: bold;
    line-height: 15px;
    font-size: 11px;
    transform: translate(-50%, -50%);
}

.progressbar__option:first-child:after {
    content: none;
}

.progressbar__option.active:before,
.progressbar__option.active:after {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    font-weight: bold;
}

button:disabled,
button[disabled] {
    border: none !important;
    background: #989898 !important;
    color: var(--panel-color) !important;
}

.form-principalDT form .pagina .btns button {
    margin-top: 0px !important;
}

form .pagina .btns button.volver {
    margin-right: 25px;
    font-size: 17px;
}

form .pagina .btns button.adelante {
    margin-left: 25px;
}

/* ESTILOS MENSAJES DE ERROR */

.error {
    color: var(--error-color);
    float: right;
    text-align: right;
}

/* PAGINA HISTORIAL CLINICO PREGUNTAS */

input[type="radio"] {
    display: none;
}

.lblPregunta {
    position: relative;
    color: black;
    font-size: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 6px;
}

.lblPregunta::before {
    content: "";
    height: 5px;
    width: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin-right: 10px;
}

input[type="radio"]:checked+.lblPregunta {
    background-color: var(--primary-color);
    color: black;
}

input[type="radio"]:checked+.lblPregunta::before {
    display: flex;
    width: 5px;
    height: 5px;
    border: 4px solid var(--panel-color);
    background-color: var(--primary-color);
}

/* ESTRELLAS PUNTUACIÓN */
/* CLINICO */
.form-principalDT form .pagina .campo-estrella {
    position: relative;
    display: flex;
    height: 20px;
    width: 100%;
    margin: 12px 0 50px 0;
}

.form-principalDT form .pagina .campo-estrella input {
    display: flex;
    justify-content: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    border: none;
    height: 100%;
    font-style: italic;
    padding: 0;
    width: 100%;
    text-align: center;
    background: transparent;
}


.star-rating {
    user-select: none;
    padding: 0;

}

#star {
    margin-top: 5px;
    font-size: 30px;
    color: #FF003F;
    background-color: unset;
    border: none;
    text-shadow: 3px 3px 5px rgba(128, 0, 0, 1);
}

#star:hover {
    cursor: pointer;
}



.ocultar {
    display: none;
}


.form-principalDT form .pagina .campo-pregunta {
    height: 30px;
    width: 100%;
    line-height: 14px;
    margin: 18px 0;
    display: flex;
    position: relative;
}

.form-principalDT form .pagina .campo-pregunta .label {
    position: absolute;
    top: -25px;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    float: left;
    text-align: left;
    width: 100%;
}

.form-principalDT form .pagina .campo-estrella .label {
    position: absolute;
    top: -10px;
    padding: 0;
    font-weight: 500;
    font-size: 13px;
    font-style: italic;
    text-align: justify;
    float: left;
    text-align: left;
    width: 100%;
}

.form-principalDT form .pagina .campo-pregunta textarea {
    width: 100%;
    height: calc(100% + 15px);
    border: 0;
    display: block;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 15px;
    margin: 0 5px;
    border: 1px solid var(--border-color);
    resize: none;
}

.inputPre:hover,
.inputPre:focus,
.inputPre:active,
.form-principalDT form .pagina .campo-pregunta textarea:active,
.form-principalDT form .pagina .campo-pregunta textarea:focus,
.form-principalDT form .pagina .campo-pregunta textarea:hover {
    border-color: var(--hover-color) !important;
    box-shadow: 0 0 5px var(--hover-color);
}

input[type="date"],
input[type="time"] {
    -webkit-appearance: none;
}

.border-colorIcon {
    background-color: var(--icon-color);
    border-color: var(--icon-color);
    box-shadow: none;
}

.image-container .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.image-container .logo img {
    width: 120px;
}

.image-container .logo .nombre-empresa {
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.image-container .image2 {
    display: flex;
    background-size: contain;
}

.image-container .image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* FINAL LOGO GYM */

/* MEDIAQUERIES */

/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/* IPAD TABLET */
@media (min-width: 720px) and (max-width: 991px) {
    .info-container {
        width: 85%;
        /* height: 100%; */
    }

    .image-container {
        display: none !important;
    }

    .progress-bar .paso p {
        margin-left: 6px;
        font-size: 16px;
    }

    .form-principalDT form .pagina .campo .label {
        font-size: 15px;
    }

    .form-principalDT form .pagina .campo-estrella .label {
        font-size: 14px;
    }

    .form-principalDT form .pagina .campo-estrella .star-rating {
        margin-top: 10px;
        padding: 0;
    }

    .form-principalDT form .pagina .campo-pregunta {
        height: 32px;
    }

    .form-principalDT form .pagina .campo-pregunta .label {
        font-size: 12px;
        top: -20px;
        line-height: 15px;
    }
}

@media (max-width: 710px) {
    .container {
        margin: 25px 5px 5px 5px;
        padding: 0;
    }

    .info-container {
        width: 100%;
        height: 100%;
    }

    .image-container {
        display: none !important;
    }

    .btn_cancelar {
        font-weight: 600;
        left: 94%;
    }

    .progress-bar .paso .num::before,
    .progress-bar .paso .num::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 1px;
        bottom: 11px;
        right: -48px;
    }

    .form-principalDT form .pagina .campo-pregunta {
        height: 50px;
    }

    .form-principalDT form .pagina .campo-pregunta .label {
        font-size: 10px;
        line-height: 14px;
    }

    .lblPregunta {
        margin-top: 22px;
        height: 15px;
        font-size: 10px;
        padding: 4px 5px;
        line-height: 10px;
    }

    .info-container header {
        font-size: 20px;
    }

    .form-principalDT form .pagina .campo-estrella .label {
        font-size: 12px;
    }

    .form-principalDT form .pagina .grid3 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 1px 10px;
    }

    .form-principalDT form .pagina .grid3 .bloc3 {
        grid-column: 1 / 3;
    }
}

@media (max-width: 415px) {

    /* .container {
      margin: 0;
      padding: 0;
    } */
    /* .info-container {
      width: 100%;
      height: 100%;
      padding: 0 18px 0 18px;
    } */
    .image-container {
        display: none !important;
    }

    .btn_cancelar {
        font-weight: 600;
        left: 94%;
    }

    .form-principalDT form .pagina .campo-pregunta {
        margin: 23px 0;
        height: 38px;
    }

    .form-principalDT form .pagina .campo-pregunta .label {
        font-size: 10px;
        top: -32px;
        line-height: 12px;
    }

    .info-container header {
        font-size: 12px;
    }

    .form-principalDT form .pagina .campo-estrella .label {
        font-size: 11px;
    }

    .lblPregunta {
        height: 15px;
        font-size: 10px;
        padding: 0 5px;
        line-height: 10px;
    }

    .lblPregunta::before {
        width: 4px;
        height: 4px;
    }



    .progress-bar .paso p {
        font-size: 11px;
    }

    .error {
        font-size: 8.2px;
        line-height: 12px;
    }

    .image-container,
    .info-container {
        border-radius: 0;
    }

    #star {
        font-size: 15px;

        padding: 0;
    }

    .form-principalDT form .pagina .campo .input-icon {
        display: none;
    }

    .form-principalDT form .pagina .campo input {
        border-radius: 4px;
    }


}